/*
 Theme Name:          nyasaker-19ct
 Theme URI:           http://nyasaker.se
 Description:         Theme for nyasaker.se. This is a child theme for twentynineteen.
 Author:              Karl Lettenstrom
 Author URI:          https://kprl.se
 Template:            twentynineteen
 Text Domain:         nyasaker19ct
 Version:             0.0.2
 Bitbucket Theme URI: https://bitbucket.org/kprl/nyasaker-19ct
*/

//@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Rancho');

@import "partials/variables";

body {
  background-color: $color-hk-opa-lightgrey;
  font-family: $base-font-family;
}

.site {
  color: $text-color;
  font-family: $base-font-family;
  a {
    color: $color-hk-main !important;
    text-decoration: none !important;
    &:hover, &:focus {
      color: $color-hk-second !important;
    }
  }
}

@import "partials/header";
@import "partials/footer";
@import "partials/color-palette";

.frontpage {
  .entry-content {
    padding-top: 2em;
  }
}

article.hk_product {
  .entry-content {
    color: $color-hk-grey;
    font-size: $font-size-medium;
    padding-top: 2em;
    figcaption {
      text-align: left !important;
      padding: 0.5rem 0.3rem !important;
      &.figcaption-title {
        font-weight: $font-weight-bold !important;
        font-size: $font-size-medium !important;
        padding-bottom: 0px !important;
        margin-bottom: -0.4rem !important;
      }
    }
    p {
      margin: 22px 0;
    }
    .entry-header {
      margin: 0px;
    }
    .content-sidebar {
      margin: 22px 0;
      .wp-block-button a {
        text-transform: uppercase;
        color: $color-hk-lighter !important;
        background-color: $color-hk-main !important;
        font-size: 0.8em;
        width: 100%;
        &:hover {
          background-color: $color-hk-dark !important;
          color: $color-hk-second !important;
        }
      }
    }
    .content-images {
      background-color: #fff;
    }
  }
}

.entry {
  h1, h2, .entry-title {
    font-weight: $font-weight-bold;
    color: $color-hk-dark;
  }
  .entry-header {
    .hk-presents {
      line-height: normal;
      font-size: 24px;
      font-family: rancho, sans-serif;
      font-weight: 400;
      position: relative;
    }
    .entry-title {
      margin-top: 20px;
      &:before {
        display: none;
      }
    }
  }
  .entry-content {
    font-size: $font-size-regular;
    font-weight: $font-weight-regular;
    line-height: 1.4;
    h2, h3, h4 {
      display: inline;
    }
    h1:not(.site-title):before, h2:before {
      display: none;
    }
    .full-width {
      max-width: 100% !important;
    }
    .three-columns {
      columns: 3;
    }
    .text-columns {
      columns: 2;
      @media (max-width: $mobile-large - 1) {
        columns: 1;
      }
      @media (min-width: $tablet-small) {
        columns: 3;
      }
      @media (min-width: $screen-small) {
        columns: 4;
      }
      @media (min-width: $screen-large) {
        columns: 5;
      }
    }
    .wp-block-spacer {
      clear: both;
    }

    .has-text-color.has-background {
      &.has-main-background-color {
        letter-spacing: 2px;
        text-transform: uppercase;
        display: block;
      }
      &.has-lighter-color {
        a {
          color: $color-hk-lighter !important;
          &:hover, &:focus {
            color: $color-hk-second !important;
          }
        }
      }
    }

    .hk-products {
      .card {
        margin-bottom: 1.6rem;
        border: none;
        &:hover {
          box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
        }
        h5 {
          text-align: center;
          color: $color-hk-dark;
          font-weight: $font-weight-bolder;
          font-size: $font-size-medium;
          letter-spacing: 1px;
          padding: 1.5rem 0.80rem 0.5rem 0.80rem;
          margin: 0px;
        }
        .municipality {
          text-transform: uppercase;
          text-align: center;
          color: $color-hk-complement;
          font-size: 12px;
          font-weight: $font-weight-bolder;
          padding-bottom: 0.4rem;
          letter-spacing: 1px;
        }
        .card-body {
          text-align: center;
          padding: 0px 0.80rem 0.80rem 0.80rem;
          font-size: $font-size-small;
          color: $color-hk-grey;
        }
        .card-footer {
          text-transform: uppercase;
          text-align: center;
          font-size: 12px;
          font-weight: $font-weight-bolder;
          padding: .6rem 1.25rem .70rem 1.25rem ;
          background-color: $color-hk-main;
          color: $color-hk-lighter;
          letter-spacing: 2px;
          &:hover {
            color: $color-hk-second !important;
          }
        }
        img {
          margin-top: 0.3rem;
          border-radius: 0px;
        }
      }
    }

    .card-columns {
      &.alignwide {
        @media (min-width: $screen-small) {
          column-count: 4;
        }
      }
      &.alignfull {
        @media (min-width: $screen-large) {
          column-count: 5;
        }
      }
    }

    .carousel {
      width: 100%;
      .carousel-item {
        text-align: center;
        img {
          width: 100%;
        }
      }
      @media (max-width: $screen-small - 1) {
        &.alignleft {
          max-width: 100% !important;
          width: 100%;
          margin-left: 0px;
          margin-right: 0px;
        }
      }
    }

  }
}
