/*
 Theme Name:          nyasaker-19ct
 Theme URI:           http://nyasaker.se
 Description:         Theme for nyasaker.se. This is a child theme for twentynineteen.
 Author:              Karl Lettenstrom
 Author URI:          https://kprl.se
 Template:            twentynineteen
 Text Domain:         nyasaker19ct
 Version:             0.0.2
 Bitbucket Theme URI: https://bitbucket.org/kprl/nyasaker-19ct
*/
@import url("https://fonts.googleapis.com/css?family=Rancho");
body {
  background-color: rgba(250, 249, 249, 0.95);
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.site {
  color: #2b303b;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.site a {
  color: #00A9E1 !important;
  text-decoration: none !important;
}

.site a:hover, .site a:focus {
  color: #d9f0ff !important;
}

.site-header {
  padding: 2em 0em 3em 0em;
  background: #00A9E1;
}

.site-header a {
  color: #f7f7f7 !important;
}

.site-header a:hover, .site-header a:focus {
  color: rgba(255, 255, 255, 0.7) !important;
}

.site-header.featured-image .custom-logo-link {
  background: none;
}

.site-header .site-logo {
  position: relative;
  right: 0px;
  top: 0px;
  display: inline;
}

.site-header .site-logo .custom-logo-link {
  width: 255px;
  height: 100px;
  border-radius: 0px;
}

.site-header .site-logo .custom-logo-link:hover, .site-header .site-logo .custom-logo-link:active, .site-header .site-logo .custom-logo-link:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.site-header .site-description {
  line-height: 24px;
  text-align: left;
  font-size: 20px;
  color: #f7f7f7;
  font-family: rancho, sans-serif;
  font-weight: 400;
  margin-left: 42px;
  display: block;
  position: absolute;
}

.site-header .site-description::before {
  content: none !important;
}

.site-header .main-navigation {
  bottom: -20px;
  right: 6px;
  font-size: 13px;
  margin-top: 0px;
  width: auto;
  position: absolute;
  text-align: right;
  font-weight: 700;
}

.site-header .main-navigation .menu-item {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.site-header .main-navigation .menu-item a {
  font-weight: 700;
}

.site-header .main-navigation .main-menu-more {
  top: 7px;
  position: relative;
}

.site-header .main-navigation .main-menu-more .main-menu-more-toggle {
  color: #f7f7f7;
}

.site-header .main-navigation .sub-menu {
  background-color: #d9f0ff;
}

.site-header .main-navigation .sub-menu a {
  color: #00A9E1 !important;
  font-weight: 700;
}

.site-header .main-navigation .sub-menu a:hover {
  background-color: #00A9E1 !important;
  color: #f7f7f7 !important;
}

@media (min-width: 768px) {
  .site-header .main-navigation {
    width: 60% !important;
  }
}

.site-header .social-navigation {
  margin-top: 0px;
  text-align: left;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
}

@media (max-width: 767px) {
  .site-header {
    padding: 1em 1em 2em 1em;
  }
}

#colophon {
  background: #00A9E1;
}

#colophon .footer-image {
  background: url(http://dev.kprl.se/nyasaker/wp-content/uploads/sites/20/2019/01/shutterstock_71258173.gif) top left no-repeat;
  height: 600px;
  overflow: hidden;
}

#colophon .site-info {
  color: #f7f7f7;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 20px;
}

#colophon .site-info a {
  color: #f7f7f7 !important;
}

#colophon .site-info a:hover, #colophon .site-info a:focus {
  color: #d9f0ff !important;
}

@media (max-width: 479px) {
  #colophon .site-info {
    font-size: 10px;
  }
}

.has-main-background-color {
  background-color: #00A9E1;
}

.has-main-color {
  color: #00A9E1;
}

.has-complement-background-color {
  background-color: #F7931E;
}

.has-complement-color {
  color: #F7931E;
}

.has-light-background-color {
  background-color: #ededed;
}

.has-light-color {
  color: #ededed;
}

.has-lighter-background-color {
  background-color: #f7f7f7;
}

.has-lighter-color {
  color: #f7f7f7;
}

.has-dark-background-color {
  background-color: #2b303b;
}

.has-dark-color {
  color: #2b303b;
}

.has-grey-background-color {
  background-color: #6c757d;
}

.has-grey-color {
  color: #6c757d;
}

.has-darker-background-color {
  background-color: #111111;
}

.has-darker-color {
  color: #111111;
}

.frontpage .entry-content {
  padding-top: 2em;
}

article.hk_product .entry-content {
  color: #6c757d;
  font-size: 18px;
  padding-top: 2em;
}

article.hk_product .entry-content figcaption {
  text-align: left !important;
  padding: 0.5rem 0.3rem !important;
}

article.hk_product .entry-content figcaption.figcaption-title {
  font-weight: 600 !important;
  font-size: 18px !important;
  padding-bottom: 0px !important;
  margin-bottom: -0.4rem !important;
}

article.hk_product .entry-content p {
  margin: 22px 0;
}

article.hk_product .entry-content .entry-header {
  margin: 0px;
}

article.hk_product .entry-content .content-sidebar {
  margin: 22px 0;
}

article.hk_product .entry-content .content-sidebar .wp-block-button a {
  text-transform: uppercase;
  color: #f7f7f7 !important;
  background-color: #00A9E1 !important;
  font-size: 0.8em;
  width: 100%;
}

article.hk_product .entry-content .content-sidebar .wp-block-button a:hover {
  background-color: #2b303b !important;
  color: #d9f0ff !important;
}

article.hk_product .entry-content .content-images {
  background-color: #fff;
}

.entry h1, .entry h2, .entry .entry-title {
  font-weight: 600;
  color: #2b303b;
}

.entry .entry-header .hk-presents {
  line-height: normal;
  font-size: 24px;
  font-family: rancho, sans-serif;
  font-weight: 400;
  position: relative;
}

.entry .entry-header .entry-title {
  margin-top: 20px;
}

.entry .entry-header .entry-title:before {
  display: none;
}

.entry .entry-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.entry .entry-content h2, .entry .entry-content h3, .entry .entry-content h4 {
  display: inline;
}

.entry .entry-content h1:not(.site-title):before, .entry .entry-content h2:before {
  display: none;
}

.entry .entry-content .full-width {
  max-width: 100% !important;
}

.entry .entry-content .three-columns {
  -webkit-columns: 3;
  columns: 3;
}

.entry .entry-content .text-columns {
  -webkit-columns: 2;
  columns: 2;
}

@media (max-width: 319px) {
  .entry .entry-content .text-columns {
    -webkit-columns: 1;
    columns: 1;
  }
}

@media (min-width: 480px) {
  .entry .entry-content .text-columns {
    -webkit-columns: 3;
    columns: 3;
  }
}

@media (min-width: 1024px) {
  .entry .entry-content .text-columns {
    -webkit-columns: 4;
    columns: 4;
  }
}

@media (min-width: 1280px) {
  .entry .entry-content .text-columns {
    -webkit-columns: 5;
    columns: 5;
  }
}

.entry .entry-content .wp-block-spacer {
  clear: both;
}

.entry .entry-content .has-text-color.has-background.has-main-background-color {
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
}

.entry .entry-content .has-text-color.has-background.has-lighter-color a {
  color: #f7f7f7 !important;
}

.entry .entry-content .has-text-color.has-background.has-lighter-color a:hover, .entry .entry-content .has-text-color.has-background.has-lighter-color a:focus {
  color: #d9f0ff !important;
}

.entry .entry-content .hk-products .card {
  margin-bottom: 1.6rem;
  border: none;
}

.entry .entry-content .hk-products .card:hover {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.entry .entry-content .hk-products .card h5 {
  text-align: center;
  color: #2b303b;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 1.5rem 0.80rem 0.5rem 0.80rem;
  margin: 0px;
}

.entry .entry-content .hk-products .card .municipality {
  text-transform: uppercase;
  text-align: center;
  color: #F7931E;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 0.4rem;
  letter-spacing: 1px;
}

.entry .entry-content .hk-products .card .card-body {
  text-align: center;
  padding: 0px 0.80rem 0.80rem 0.80rem;
  font-size: 14px;
  color: #6c757d;
}

.entry .entry-content .hk-products .card .card-footer {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  padding: .6rem 1.25rem .70rem 1.25rem;
  background-color: #00A9E1;
  color: #f7f7f7;
  letter-spacing: 2px;
}

.entry .entry-content .hk-products .card .card-footer:hover {
  color: #d9f0ff !important;
}

.entry .entry-content .hk-products .card img {
  margin-top: 0.3rem;
  border-radius: 0px;
}

@media (min-width: 1024px) {
  .entry .entry-content .card-columns.alignwide {
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 1280px) {
  .entry .entry-content .card-columns.alignfull {
    -webkit-column-count: 5;
    column-count: 5;
  }
}

.entry .entry-content .carousel {
  width: 100%;
}

.entry .entry-content .carousel .carousel-item {
  text-align: center;
}

.entry .entry-content .carousel .carousel-item img {
  width: 100%;
}

@media (max-width: 1023px) {
  .entry .entry-content .carousel.alignleft {
    max-width: 100% !important;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
