.has-main-background-color {
  background-color: $color-hk-main;
}

.has-main-color {
  color: $color-hk-main;
}

.has-complement-background-color {
  background-color: $color-hk-complement;
}

.has-complement-color {
  color: $color-hk-complement;
}

.has-light-background-color {
  background-color: $color-hk-light;
}

.has-light-color {
  color: $color-hk-light;
}

.has-lighter-background-color {
  background-color: $color-hk-lighter;
}

.has-lighter-color {
  color: $color-hk-lighter;
}

.has-dark-background-color {
  background-color: $color-hk-dark;
}

.has-dark-color {
  color: $color-hk-dark;
}

.has-grey-background-color {
  background-color: $color-hk-grey;
}

.has-grey-color {
  color: $color-hk-grey;
}

.has-darker-background-color {
  background-color: $color-hk-darker;
}

.has-darker-color {
  color: $color-hk-darker;
}
