#colophon {
  background: $color-hk-main;

  .footer-image {
    background: url(http://dev.kprl.se/nyasaker/wp-content/uploads/sites/20/2019/01/shutterstock_71258173.gif) top left no-repeat;
    height: 600px;
    overflow: hidden;
  }

  .site-info {
    color: $color-hk-lighter;
    text-align: center;
    font-size: $font-size-small;
    letter-spacing: 1px;
    font-weight: $font-weight-bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 20px;
    a {
      color: $color-hk-lighter !important;
      &:hover, &:focus {
        color: $color-hk-second !important;
      }
    }
    @media (max-width: $tablet-small - 1) {
      font-size: $font-size-x-small;
    }
  }
}
