.site-header {
  padding: 2em 0em 3em 0em;
  background: $color-hk-main;
  a {
    color: $color-hk-lighter !important;
    &:hover, &:focus {
      color: $color-hk-opa-white !important;
    }
  }

  &.featured-image .custom-logo-link {
    background: none;
  }

  .site-logo {
    position: relative;
    right: 0px;
    top: 0px;
    display: inline;
    .custom-logo-link {
      width: 255px;
      height: 100px;
      border-radius: 0px;
    }
  }

  .site-logo .custom-logo-link:hover, .site-logo .custom-logo-link:active, .site-logo .custom-logo-link:focus {
    box-shadow: none;
  }

  .site-description {
    line-height: 24px;
    text-align: left;
    font-size: 20px;
    color: $color-hk-lighter;
    font-family: rancho, sans-serif;
    font-weight: 400;
    margin-left: 42px;
    display: block;
    position: absolute;
    &::before {
      content: none !important;
    }
  }

  .main-navigation {
    bottom: -20px;
    right: 6px;
    font-size: 13px;
    margin-top: 0px;
    width: auto;
    position: absolute;
    text-align: right;
    font-weight: $font-weight-bolder;
    .menu-item {
      letter-spacing: 1px;
      text-transform: uppercase;
      a {
        font-weight: $font-weight-bolder;
      }
    }
    .main-menu-more {
      top: 7px;
      position: relative;
      .main-menu-more-toggle {
        color: $color-hk-lighter;
      }
    }
    .sub-menu {
      background-color: $color-hk-second;
      a {
        color: $color-hk-main !important;
        font-weight: $font-weight-bolder;
        &:hover {
          background-color: $color-hk-main !important;
          color: $color-hk-lighter !important;
        }
      }
    }

  }

  @media (min-width: $tablet-large) {
    .main-navigation {
      width: 60% !important;
    }
  }

  .social-navigation {
    margin-top: 0px;
    text-align: left;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

@media (max-width: $tablet-large - 1) {
  .site-header {
    padding: 1em 1em 2em 1em;
  }
}
