// COLORS
$color-hk-main:           #00A9E1; //#0073aa;
$color-hk-second:         #d9f0ff;
$color-hk-complement:     #F7931E; //#e84432
$color-hk-opa-white:      rgba(255, 255, 255, 0.7);
$color-hk-opa-lightgrey:  rgba(250, 249, 249, 0.95);
$color-hk-light:          #ededed;
$color-hk-lighter:        #f7f7f7;
$color-hk-dark:           #2b303b;
$color-hk-grey:           #6c757d;
$color-hk-darker:         #111111;

// TEXT
$font-weight-light:    300;
$font-weight-regular:  400;
$font-weight-bold:     600;
$font-weight-bolder:   700;

$font-size-xx-small:    8px;
$font-size-x-small:    10px;
$font-size-small:      14px;
$font-size-regular:    16px;
$font-size-medium:     18px;
$font-size-large:      20px;
$font-size-x-large:    24px;
$font-size-xx-large:   32px;
$font-size-xxx-large:  40px;

$text-color:        $color-hk-dark;
$base-font-size:    $font-size-regular;
$base-font-family:  Arial, Helvetica Neue, Helvetica, sans-serif;
$base-font-weight:  $font-weight-regular;
$base-line-height:  1.6;

// RESOLUTIONS
$mobile-small:    240px;
$mobile-large:    320px;
$mobile-iphoneX:  812px;
$tablet-small:    480px;
$tablet-large:    768px;
$screen-small:    1024px;
$screen-large:    1280px;

// MISC
$logo-drop-shadow:      drop-shadow(0px 0px 5px rgba(0,0,0,.5));
$base-transition-time:  0.2s;
